<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Cat
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Catalan</a></li>
        <li><a class="dropdown-item" href="#">Castellano</a></li>
        <li><a class="dropdown-item" href="#">Ingles</a></li>
    </ul>
</li>