<div class="side-menu d-none" id="side-menu">
    <div class="p-4 w-100">
        <div class="w-100 d-flex text-right">
            <button type="button" class="btn-close btn-close-white" id="close-side-menu" aria-label="Close"></button>
        </div>

        {% assign categories = site.categories | where: "locale", page.locale %}
        <div class="pt-5 pb-5">
            <ul class="navbar-nav justify-content-end flex-grow-1">
                {% for category in categories %}
                    <li class="nav-item ">
                        <a class="nav-link side-nav-item" aria-current="page" href="{{ category | relative_url }}">
                            <h4>
                                {{ category.title }}
                            </h4>
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
        </div>        

        {% include default/links/side_nav_links.liquid links="about_nav" header="true" %} 
        
        <div class="mt-3">
            {% include default/socials.liquid class="dark-btn" %}
        </div>
    </div>
</div>


