<div class="side-menu d-none" id="side-menu">
    <div class="p-4 w-100">
        <div class="w-100 d-flex text-right">
            <button type="button" class="btn-close btn-close-white" id="close-side-menu" aria-label="Close"></button>
        </div>

        {%- comment -%} TODO: Replace footer_links with the name of the collection in netlify cms {%- endcomment -%}
        {% include default/links/side_nav_links.liquid links="footer_links" header="" %} 

        {% include default/links/side_nav_links.liquid links="footer_links" %}
        
        <div class="mt-3">
            {% include default/socials.liquid class="dark-btn" %}
        </div>
    </div>
</div>


