<li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" id="search-input" placeholder="Search..">
      <ul class="list-group list-group-flush" id="results-container"></ul>
    </a>
  </li>
  <li class="nav-item">
   <span class="nav-link disabled">|</span>
  </li>