{% assign previousProject = nil %}
{% assign nextProject = nil %}
{% assign foundCurrentProject = false %}
{% assign projects = site.projects | where: "locale", page.locale %}

{% for project in projects %}
  {% if foundCurrentProject %}
    {% assign nextProject = project %}
    {% break %}
  {% endif %}

  {% if project.title == page.title %}
    {% assign foundCurrentProject = true %}
  {% else %}
    {% assign previousProject = project %}
  {% endif %}
{% endfor %}
 
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div id="previous" class="d-flex flex-row align-items-center p-4">
      {% if previousProject %}
        <a href="{{ previousProject | relative_url }}" class="d-flex flex-row">

          <span class="link__icon link__icon-left p-2 pe-3">
            <i class="fa-solid fa-arrow-left"></i>
          </span>

          <span>
            <h3>{{ previousProject.title }}</h3>
          </span>
        </a>
      {% endif %}
    </div>

    <div class="vr project__divisor"></div>

    <div id="next" class="d-flex flex-row align-items-center p-4">
      {% if nextProject %}
        <a class="link link-right d-flex flex-row align-items-center" href="{{ nextProject | relative_url }}">

          <span class="link__label ">
            <h3>{{ nextProject.title }}</h3>
          </span>

          <span class="link__icon link__icon-right p-2 ps-3">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
        </a>
      {% endif %}
    </div>
  </div>
