{% assign locale = page.locale %}
{% assign cookie_page = site.pages | where: "slug", "cookie-policy" | where: "locale", page.locale | first %}

<div id="cookie-notice">
    <div class="d-flex flex-lg-row flex-column justify-content-around">
        <div>
            <h3>{{ site.data[locale].global.cookies.title }}</h3>
            <span>{{ site.data[locale].global.cookies.subtitle }}</span>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center pt-2">
            <a id="cookie-notice-accept" class="btn btn-primary btn-sm cookie__btn">
                {{ site.data[locale].global.cookies.approve }}
            </a>
            <a href="#" class="btn btn-primary btn-sm cookie__btn" onclick="location.href='{{ cookie_page | relative_url }}'">
                {{ site.data[locale].global.cookies.info }}
            </a>
        </div>
    </div>
</div>
<script>
    function createCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        createCookie(name,"",-1);
    }

    if(readCookie('cookie-notice-dismissed')=='true') {
        console.log("approved");
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }
    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>