<head>
  <meta charset="UTF-8" name="description">
  <script src="https://kit.fontawesome.com/5ae52c68b8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.11.0/css/flag-icons.min.css"/>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% if page.collection == "home" %}
    <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  {% endif %}

  <title>Platoniq</title>

</head>