b, strong {
    color: #e94668;
}

h1 strong {
    font-weight: lighter;
}

h1 {
    font-size: 7vw;
}

section {
    padding: 0;
    padding-left: 0;
}

@include media-breakpoint-up(lg) {
    h1 {
        font-size: 3vw;
    }

    section {
        padding: 1rem;
        padding-left: 2rem;
    }
}

/* --- HOME --- */

#adjective {
color: $primary;
}

.vertical-text {
font-style: italic;
}

.icon-width{
width: 20%;
}

.value { 
width: 100%
}

.project-preview-img{
    position: relative;
    width: 100%;
}

@include media-breakpoint-up(lg) {
    .icon-width{ 
        width: 60%;
    }
    
    .value{
        width: 25%;
    }
    
    .vertical-text {
        writing-mode: vertical-lr; 
        text-orientation: mixed;
        transform: rotate(180deg);
        font-style: normal;
    }

    .project-preview-img{
        width: 60%;
    }
}

/* --- CATEGORIES --- */

/* --- PROJECTS --- */
.project_preview{
    flex-direction: column !important;
}

.img-project-preview-inside{
    width: 100%;
}

.project_header_img{
    width: 100%;
    position: absolute;
    top: 0;
}

.project_img_line_preview:nth-child(odd)  {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 20%;
    transform: rotate(90deg);
}

.project_img_line_preview_even:nth-child(even) {
    position: absolute;
    right: -5%;
    top: -5%;
    width: 20%;
}

.project_img_background {
    top: 12%;
    left: 0px;
    opacity: 35%;
    z-index: 0;
    width: 100%;
}

.project_header_icon {
    display: none;
}

.project_content {
    opacity: 100%;
    z-index: 100;
    display: flex;
    position: relative;
    background-color: $grey-light;
    color: $brand;
}

.project-page-title {
    font-size: 4rem;
}

.green{
    color: $secondary;
}

.red{
    color: $primary;
}

#project-content {
    width: 100%;
    padding: 0px !important;
}

#budget {
    width: 100%;
    padding: 1rem;
}

.project-budget-bottom{
    display: none !important;
    padding-bottom: 1rem;
}

.hr-budget {
    opacity: 1;
    border-top: 3px solid;
}

.private-line-percentage {
    color: $blue;
}

.public-line-percentage{
    color: $violet;
}

.looking-line-percentage{
    color: $pink;
}

.btn-contact-budget{
    color: $grey-light;
}

.percentages-budget{
    font-size: 0.8rem;
    font-weight: lighter;
}

.project-header { 
    z-index: 1;
    max-width: 100%;
}

.thumbnail-portrail{
    border-radius: 50%;
    width: 10%;
    padding: 0 1rem 0 1rem;
}

@include media-breakpoint-up(lg) {

    .project_preview:nth-child(odd){
        flex-direction: row !important;
    }
    
    .project_preview:nth-child(even){
        flex-direction: row-reverse !important;
    }

    .img-project-preview-inside{
        width: 95%;
    }

    .project_header_img{
        width: 50%;
        position: absolute;
        right: -2%;
        top: 0;
    }

    #project-content { 
        width: 80%;
    }

    #budget {
        width: 20%;
        padding: 1rem;
        z-index: 100;
        background-color: $brand;
        margin-top: 10%;
    }

    .project-budget-bottom{
        display: flex !important;
        padding-bottom: 5rem;
    }

    .project_header_icon {
        z-index: 101;
        width: 50%;
        top: 0%;
        right: 0px;
        display: block;
    }

    .project_img_background {
        top: 5%;
        right: 0px;
        opacity: 50%;
        z-index: 0;
        width: 50%;
        left: auto;
    }

    .project-header{
        max-width: 60%;
    }
}

/* --- ABOUT US --- */
.about-us-content{
    width: 100%;
} 

@include media-breakpoint-up(lg) {
    .about-us-content{
        width: 70%
    }
}



.who-position-label{
    color: $secondary
}

.author-img-decorator{
    position: absolute;
    width: 50%;
    transform: rotate(90deg);
    left: -10%;
    top: -5%;
}

  
@charset "UTF-8";

@import "base/global",
        "base/buttons",
        "base/links",
        "base/inputs",
        "base/footer",
        "base/header",
        "plugin/quote",
        "plugin/image",
        "plugin/video",
        "plugin/document",
        "plugin/bullet",
        "pages/modal.scss",
        "pages/form.scss",
        "pages/project.scss"

