{%- comment -%} 
This component defines the layout of link lists that is common to all the website. It is used for horizontal lists and accepts several parameters: 
- links: name of the file where links are defined
- fw: class name for specifying font weight
- divider: if this parameter is present, the list is separated by | 
{%- endcomment -%}

{%- assign links = include.links -%}
{%- assign fw = include.fw -%}
{%- assign url = page.url | remove: '.html' -%}
{%- assign locale = page.locale -%}

<div>
    {%- for link in site.data[locale].[links] -%}
    <a href="{{ link.link }}" 
       class="me-2 no-underline text-link {{ fw }} {% unless url contains link.link %} not-current-link {% endunless %}"
       aria-label="{{ link.name }}">
        <span>{{ link.name }}</span>
    </a>

    {% if include.divider%}
        {% unless forloop.last %}<span class="me-2 vr-light"> | </span>{% endunless %}
    {% endif %}
    {%- endfor -%}
</div>