.info__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    flex-wrap: wrap;

    .info__text {
        color: $grey-light;
    }

    .info__btn {
        background-color: $grey-light;
        color: $primary;
        font-weight: bold;
    }
}

.project-content-box {
    p{
        display: flex;
        justify-content: center;
        
        img {
            width: 100%;
        
            @media (min-width: $bp-desktop) {
                width: 60%;
            } 
        }
    }   
}

.project__divisor {
    height: 2em;
    align-self: center;
}

.img__portrail {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.5em;

    img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
