.info__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    flex-wrap: wrap;

    .info__text {
        color: $grey-light;
    }

    .info__btn {
        background-color: $grey-light;
        color: $primary;
        font-weight: bold;
    }
}