---
---
@import "bootstrap/functions";

$body-color: #ffffff;
$brand: #462949;
$primary: #e94668;
$secondary: #99FF99;
$grey-light: #F3F3EF;
$blue: #72D8FF;
$violet:#B792FF;
$green: #99FFCC;
$yellow: #FFFF99;

$cta-background-color: $primary;
$button-cta-background-color: $cta-background-color;

@import "bootstrap/variables";
@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/root";

@import "bootstrap/utilities";
@import "bootstrap/reboot";
@import "bootstrap/containers";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/offcanvas";
@import "bootstrap/close";

@import "bootstrap/utilities/api";
@import "main";