---
---
$body-color: #ffffff;
$brand: #462949;
$primary: #e94668;
$secondary: #99FF99;
$grey-light: #F3F3EF;
$blue: #72D8FF;
$violet: #b894ff;
$green: #99FFCC;
$yellow: #FFFF99;
$input-background: #5f4263;

$cta-background-color: $primary;
$button-cta-background-color: $cta-background-color;

@import "bootstrap/bootstrap";
@import "main";