<section class="d-flex justify-content-center justify-content-lg-between p-5 border-bottom hr-light">
  <div class="me-5 d-none d-lg-block">
    <div>
      {% include default/links/nav_links.liquid links='footer_links' fw='fw-bold' %}  
    </div>
    <div class="mt-3">
      {% include default/socials.liquid %}
    </div>
  </div>

  <div>
    <p class="text-end">Creators of:</p>
    <h1>Goteo</h1>
  </div>
</section>