<section class="d-flex flex-lg-row flex-column justify-content-center justify-content-lg-between p-5 border-bottom hr-light">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      {% include default/links/nav_links.liquid links='footer_links' fw='fw-bold' %}  
    </div>
    <div class="d-flex flex-row justify-content-lg-start justify-content-center mt-3">
      {% include default/socials.liquid %}
    </div>
  </div>

  <div class="d-flex flex-row justify-content-lg-start justify-content-center">
    <div class="d-flex flex-column align-items-end">
      <img src="/media/site-symbols/tear-goteo.png" alt="goteo" class="goteo-logo" loading="lazy">
    </div>
    <div class="d-flex flex-column justify-content-center"">
      <p class="text-end">{{ site.data[locale].footer.creator }}:</p>
      <h1>Goteo</h1>
    </div>
  </div>
</section>