
<section class="d-flex justify-content-between p-5">
    <div class="text-center d-flex ">
        <span class="me-4">
            © 2019 Platoniq
        </span>
        {% include default/links/nav_links.liquid links="legal_links" fw="fw-light" %}
    </div>

    <div class="text-center">
        Amb el suport de:
    </div>
</section>
