<section class="pj-bullet">
    <div class="d-flex flex-column">
        {% for element in bullet.list %}
            <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-square pe-2 bullet_list"></i>
                <span class="">{{ element }}</span>
            </div>
        {% endfor %}
    </div>
</section>