<section class="pj-documents">
  <h3>{{ documents.title }}</h3>
  
  {% if documents.items.size > 1 %}
    <hr class="hr me-lg-3">
  {% endif %}

    {% for item in documents.items %}
    
        <a href="{{ item.file}}" class="link link-external" target="_blank">
          <span class="link__icon link__icon-left pe-1">
            <i class="fa-solid fa-file-arrow-down"></i>
          </span>
          <span class="link__label">
            {{ item.title }}
          </span>
        </a>

        {% if documents.items.size > 1 %}
          <hr class="hr me-lg-3">
        {% endif %}
      
    {% endfor %}
</section>