<section class="pj-links">
  <h3>{{ links.title }}</h3>
  
  <ul>
    {% for item in links.items %}
      <li>
        <a href="{{ item.url}}" class="link link-external" target="_blank">
          <span class="link__icon link__icon-left">
            {% include svg/icon-link.liquid %}
          </span>
          <span class="link__label">
            {{ item.title }}
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>