<figure class="pj-quote d-block m-0">
    <blockquote class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column align-items-end">
            {% include svg/icon-quote-front.liquid %}
            <span class="p-3"></span>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <h3 class="blockquote-text">{{ quote.content }}</h3>
        </div>
        <div class="d-flex flex-column align-items-start">
            <span class="p-3"></span>
            {% include svg/icon-quote-back.liquid %}
        </div>
    </blockquote>

    {% if quote.author and quote.author != "" and quote.author != "undefined" %}
        <figcaption class="pj-quote-author">
        {{ quote.author }}
        </figcaption>
    {% endif %}
</figure>