<section class="pj-video" title="{{ video.title }}" data-src="{{ video.url }}">
  <div class="pj-video__overlay">
    <div class="pj-video__play"></div>
    
    <div class="pj-video__text">
      {% if video.title != "" %}
        <h3>
          {{ video.title }}
        </h3>
      {% endif %}
    </div>
  </div>
</section>