<section class="pj-video">
    <div class="d-flex justify-content-center video__play">
      <iframe src="{{ video.url }}" title="{{ video.title }}" frameborder="0" allowfullscreen></iframe>
    </div>
</section>