---
layout: base
---



<section id="hero">
  <div class="container d-flex flex-row">

    <div class="col-6">
      <h1>Sobre Platoniq</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dolores consectetur voluptate eos cupiditate ea alias, distinctio corporis quis aspernatur consequuntur velit aliquam quae facere, dolorem ab aperiam animi doloribus?</p>
    </div>
    <div class="col-5">
      <img src="/media/gotas.png" alt="happy faces" style="width: 50%; height: auto;">
    </div>

  </div>
</section>