---
layout: default
---

{% include default/header.liquid %}

<section class="pj-page">
  <article class="container-fluid">
    <div class="container grid">
      <!-- Homepage bloque 1 -->
      <h1>{{site.data.homepage.main.title1}}</h1>
      {{site.data.homepage.main.description1}}      
      <br><br>      
      <div class="row">
      {%- for block1_option in site.data.homepage.block1_options -%}
        <div class="col">          
          <img src="{{block1_option.image_url}}" alt="{{block1_option.title}}" width="80">
          <h6>{{block1_option.title}}</h6>
        </div>
      {%- endfor -%}
      </div>
      <br><br>

      <!-- Homepage bloque 2 -->
      <h1>{{site.data.homepage.main.title2}}</h1>
      {{site.data.homepage.main.description2}}
      <br><br>
      <div class="row">
        {%- for block2_value in site.data.homepage.block2_values -%}
          <div class="col">
            <span style="font-size: 10pt;">{{block2_value.description}}</span>
          </div>
        {%- endfor -%}
      </div>
      <br><br>
      <div class="row">
        {%- for block2_value in site.data.homepage.block2_values -%}
          <div class="col">
            <span style="font-size: 10pt;">{{block2_value.description}}</span>
          </div>
        {%- endfor -%}
      </div>
      <br><br>

      <!-- Homepage bloque 3 -->
      <h1>{{site.data.homepage.main.title3}}</h1>
      <div class="row">
          <div class="col">
            <img src="{{site.data.homepage.main.image_url}}" width="300">
          </div>
          <div class="col">
            <h4>{{site.data.homepage.main.title3}}</h4>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>{{site.data.homepage.main.title3}}</h4>
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="300">
        </div>
      </div>

      <!-- Homepage bloque 4 -->
      <h1>{{site.data.homepage.main.title4}}</h1> 
      {{site.data.homepage.main.description2}}
      <div class="row">
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="300">
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="300">
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="300">
        </div>
      </div>

      <!-- Homepage bloque 5 -->
      <h1>{{site.data.homepage.main.title5}}</h1> 
      <div class="row">
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="100">
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="100">
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="100">
        </div>
        <div class="col">
          <img src="{{site.data.homepage.main.image_url}}" width="100">
        </div>
      </div>

      {{ content }}

      {{ titulo }}

      {% if page.call_to_action %}
        {% include default/call_to_action_block.liquid %}
      {% endif %}
    </div>
  </article>
</section>

{% include default/footer.liquid %}


