---
layout: base
---

<section id="hero" class="pb-lg-5 pb-3">
  <div class="container-lg d-flex justify-content-lg-between  flex-row pb-lg-5">
    <div class="d-flex flex-column pb-3 order-lg-2 justify-content-evenly">
        <span class="p-lg-5 d-none d-lg-inline"></span>
        <h1 class="">{{ page.title }}</h1>
        <span class="">{{ page.content }}</span>
    </div>
    <div class="col-lg-6 col-4 order-lg-3 w-50 d-none d-lg-inline">
        <img src="{{ page.symbol.path }}" alt="{{ page.symbol.alt }}" class="img-fluid" loading="lazy">
    </div>
  </div>
</section>

{% include default/call_to_action_block.liquid %}