---
layout: base
---



<section id="hero">
  <div class="container d-flex flex-row">

    <div class="col-6">
      <h1>Contact</h1>
    </div>
    <div class="col-5">
    </div>

  </div>
</section>


<section>
  <form class="container-lg p-3 d-flex flex-column contact_form">
    <div class="form-group flex-row">
      <label for="exampleFormControlInput1" class="col-sm-6 col-form-label">Nom</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group flex-row">
      <label for="exampleFormControlInput1">Organizatió</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group flex-row">
      <label for="exampleFormControlInput1">Cárrec</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group flex-row">
      <label for="exampleFormControlInput1">Mail</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group flex-row">
      <label for="exampleFormControlInput1">Ciutat/País</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
  
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
</section>