---

layout: base

---

<section id="hero" class="pb-5">
    <div class="container d-flex flex-row pb-5">
  
      <div class="col d-flex p-0">
        <p id="vertical-text" class="align-self-center">
          {{ site.data.homepage.main.vertical_value }}
        </p>
      </div>
      <div class="col-5 pb-3 d-flex">
        <h1 class="align-self-end">{{ site.data.homepage.main.title1 }}</h1>
      </div>
      <div class="col-6">
        <img src="/media/happy-faces.png" alt="happy faces" class="img-fluid">
      </div>
    </div>
  </section>
  
  <section id="footer_sub_hero" class="pb-5">
    <div class="container d-flex flex-column">
      <div class="row w-60 align-self-center gap-3">
        <p>{{ site.data.homepage.main.description1 }}</p>
      </div>

      <div class="d-flex flex-row p-3">
        {% for page in site.data.homepage.pages.pages %}
        <div class="d-flex flex-row">
          <div class="vr m-3"></div>
          <div class="d-flex flex-column justify-content-around">
            <div class="w-60 flex-fill">
              <img src={{ page.img }} class="img-thumbnail bg-transparent border-0" alt="symbol">
            </div>
            <div class="flex-fill">
              <h4>{{page.title}}</h4>
            </div>
            <div class="flex-fill">
              <a href={{ page.link | relative_url }}>
                <button type="button" class="btn no-border" >
                  <img src="/media/arrow.png" alt="arrow" class="img-fluid">
                </button>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div> 
  </section>
  
  <section id="our_values" class="pb-5">
    <div class="container d-flex flex-column">
      <div class="d-flex flex-row pb-3 align-items-center">
        <div class="col-8">
          <h1>{{ site.data.homepage.main.values_title}}</h1>
          <p>{{ site.data.homepage.main.values_description }}</p>
        </div>
        <div class="col">
          <img src="/media/heart.png" alt="heart" class="img-fluid">
        </div>
      </div>
  
      <div class="d-flex flex-row flex-wrap">
        {% for description in site.data.homepage.value.descriptions %}
        <div class="flex-column w-25">
          <p>{{ description }}</p>
        </div>
        {% endfor %}
      </div>
  
    </div>
  </section>
  
  <section id="recent_projects">
    <div class="container d-flex flex-column pb-5">
      <h1>{{ site.data.homepage.main.projects_title }}</h1>
    </div>
  </section>










