---
layout: base
---

<div class="modal">
  <div class="modal-content">
      <div class="d-flex justify-content-end">
          <div class="align-self-end"><span class="closeModal">&times;</span></div>
      </div>
    {% include default/call_to_action_block.liquid %}
  </div>
</div>

<section id="hero">
  <div class="container-lg d-flex flex-row offer-content">
    <div class="w-70">
      <h1>{{ page.title }}</h1>
      <span>{{ page.subtitle }}</span>
    </div>

  </div>
</section>

<section id="offer_content" class="pb-lg-5 pb-3">
    <div class="container-lg d-flex offer-content">
      <span>{{ page.content }}</span>
    </div>
</section>

<section class="pb-lg-5 pb-3">
  <div class="container-lg d-flex flex-column pb-lg-5 offer-content">
    <button type="button" class="modalBtn btn btn-danger rounded-1 w-100"> Optar a la oferta de trabajo </button>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">PRUEBA </a>
  </div>
</section>

<hr class="hr me-lg-3">

{% include default/social-media-share.html %}
