---
layout: base
---

{% assign locale = page.locale %}

<div class="modal">
  <div class="modal-content">
      <div class="d-flex justify-content-end">
          <div class="align-self-end"><span class="closeModal">&times;</span></div>
      </div>
    {% include default/call_to_action_block.liquid %}
  </div>
</div>

<section id="hero">
  <div class="container-lg d-flex flex-row offer-content">
    <div class="w-70">
      <h1>{{ page.title }}</h1>
      <br><span>{{ page.subtitle }}</span>
    </div>
  </div>
</section>

<section id="offer_content" class="pb-lg-5 pb-3">
    <div class="container-lg d-flex offer-content">
      <span>{{ page.content }}</span>
    </div>
</section>

<section class="pb-lg-5 pb-3">
  <div class="container-lg d-flex justify-content-end offer-content offer-content">
    <div class="align-self-end">
      <button type="button" class="modalBtn btn btn-primary text-white"> Optar a la oferta de trabajo </button>
    </div>
  </div>
</section>

<section id="share_offer" class="pb-lg-5 pb-3">
  <div class="container-lg offer-content">
    <hr class="hr me-lg-3">
    <div class="container-lg d-flex justify-content-start ">
      <span class="share-text">{{ site.data[locale].project.share }}</span>
      {% include default/social-media-share.liquid %}
    </div>
  </div>

</section>
