---
layout: base
---

<section id="hero" class="pb-lg-5 pb-3">
  <div class="container-lg position-relative">
    <div class="d-flex flex-column">
      <div class="p-3 order-lg-2 w-60">
        <div class="d-flex flex-row">
          <div class="pe-2">
            <i class="fa-solid fa-square"></i>
          </div>
          <div class="">
            <p> {{ page.state }} </p>
          </div>
        </div>
        <h1 class="project-page-title align-self-end">{{ page.title }}</h1>
        <h4>{{ page.subtitle }}</h4>
      </div>
      <span class="p-5 order-lg-2"></span>
      <div class="p-3 p-bottom-0 order-lg-2 w-60">
        <p>{{ page.date }}</p>
      </div>
    </div>
  </div>
  <div class="project_header_icon position-absolute">
    <img src="/media/project-symbol.png" alt="symbol_project_png" class="img-fluid">
  </div>
  <div class="project_img_background position-absolute">
    <img src="{{ page.banner_image.path }}" alt="{{ page.slug }}" class="img-fluid">
  </div>
</section>

<section id="project_content">
  <div class="project_content d-flex flex-column p-5">
    <div>
      {{ page.content }}
    </div>
    <hr class="hr"></hr>
    <div class="d-flex flex-row">
      <p>Servicios: </p>
      {% for service in page.services %}
        {% assign current_service = site.services | where: "slug", service | where: "locale", page.locale | first %}
        <div class="d-flex flex-row align-items-center">
          <p>{{ current_service.title }}</p>
          <div class="vr m-3"></div>
        </div>
      {% endfor %}
    </div>
    <hr class="hr"></hr>
    <div>
      <p>Miembros: </p>
      {% for member in page.members %}
        {% assign current_member = site.members | where: "slug", member | where: "locale", page.locale | first %}
        <div class="d-flex flex-row align-items-center">
          <p>{{ current_author.title }}</p>
          <div class="vr m-3"></div>
        </div>
      {% endfor %}
    </div>
    <hr class="hr"></hr>
    <div>
      <p>Compartir:</p>
      <div class="">
        {% include default/socials.liquid %}
      </div>
    </div>
  </div>
</section>

<section id="budget"></section>