---
layout: base
---
<section id="breadcrumb">
  <div class="container-lg d-lg-flex d-none flex-row">
    {% include default/links/breadcrum_links.liquid links='footer_links' fw='fw-bold' %}  
  </div>
</section>

<section id="hero">
  <div class="container-lg d-flex flex-row">
    <div class="w-70">
      <h1>{{ page.title }}</h1>
      <span>{{ page.description }}</span>
    </div>
    <div class="">
      <img src={{ page.img.source }} alt={{ page.img.alt }} class="w-100" loading="lazy">
    </div>
  </div>
</section>

<section id="hero" class= pb-3">
  <div class="container-lg d-flex flex-column about-us-content">
    {{ page.content }}
  </div>
</section>