.email_footer{
    min-width: 50%;
}

.form-control {
    background-color: $input-background;
}

.form-control:focus {
    background-color: #5f4263;
    opacity: 45%;
}


.contact_form {
    width: 100%
}

.goteo-logo {
    width: 30%;
}

.newsletter-form {
    width: 100%;
}

.sponsor-div img{
    width: 75%;
}

@include media-breakpoint-up(lg) {
    .contact_form {
        width: 40%
    }
}