html {
  background-color: $brand;
  font-size: 1rem;
}

body {
  background-color: $brand;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.fit-content {
  width: fit-content;
}

.side-menu{
    background-color: $primary;
    width: 40%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
}

.side-nav-item{
  padding: 0;
}

/* @include media-breakpoint-down(md) {
  html {
    font-size: 2rem;
  }
} */


